.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
src/**
test/**
docs/**
scripts/**
.eslintignore
.eslintrc.js
.gitignore
.DS_Store
**/*.ts
*.vsix

# Source maps
**/*.map

# Node module bloat
node_modules/**/.*
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/*.markdown
node_modules/**/*.txt
node_modules/**/test.js
node_modules/**/tests.js
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.travis.yml
node_modules/**/.github/**
node_modules/**/appveyor.yml
node_modules/**/.flowconfig
node_modules/**/*.flow
node_modules/**/*.min.js
node_modules/**/tsconfig.json
node_modules/**/webpack.config.js
node_modules/**/jest.config.js
node_modules/**/LICENSE
node_modules/**/LICENSE.*
node_modules/**/LICENCE
node_modules/**/LICENCE.*
node_modules/**/license
node_modules/**/licenses
node_modules/**/CHANGELOG*
node_modules/**/HISTORY*
node_modules/**/README
node_modules/**/readme
node_modules/**/FUNDING*
node_modules/**/fallbacks/**
node_modules/**/test/**
